* {
    padding: 0;
    margin: 0;
}

body{
    font-family: Montserrat;
    background-color: #E4EAF6;
}

.navbar {
    position: absolute;
    z-index: 100;
    width: 100%;
}

.navbar-brand {
    font-size: 1rem;
    font-weight: 500;
}

.navbar-brand img {
    width: 30px;
}

.header {
    background-image: url('top_left.png'), url('bottom_right.png');
    background-size: 20%, 30%;
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
}

#heading-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#heading-text #heading {
    font-weight: 400;
}
/* 
#heading-text .sub-text {
    padding-right: 15px;
} */

#heading-text p {
    font-size: 1rem;
    width: 75%;
}

#heading-text a {
    padding: 8px 16px;
    font-weight: 500;
    font-size: 0.8rem;
}

#heading-text .btn-primary {
    background-color: #5892E0;
    border: none;
}

#heading-text .btn-secondary {
    background-color: #4CBBB9;
    border: none;
    margin-left: 5px;
}

#img-container {
    overflow: hidden;
}

#img-container {
    
}

